body,p,h2,h1,h3,h5{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Poppins', sans-serif;;

}

header {
	background-image: linear-gradient(to right, transparent 53%, #E51837 50%);
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 0px 20px;
	height: 100%;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	
}

ul li {
	list-style-type: none;
	display: flex;
}
/**************Typography***************************/
h1,h2,h3,h4 {
	line-height: .9;
	margin-bottom: 15px
}
h1 {
	font-size: 45px;
	font-weight: 600;
}

h2,h3 {
	font-size: 40px;
	font-weight: 600;

}

p {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 15px;
}


/*********************Header style********************/
.red-text {
	color: #E51837;
}

.white-text {
	color: #fff;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 60px;
	background: #fff;
	padding: 8px;
}

.menu {
	background: #E51837;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 500;
	display: none;
}

.bar {
	width: 30px;
	background: #fff;
	height: 3px;
	margin: 5px;
	cursor: pointer;
}

/*********************Slider style********************/

.Slider {
	background-image: linear-gradient(to top, #fff 22%, transparent 20%);
}
.slider-background {
	background: #F9F9F9;
}

.Slider p {
	font-size: 15px;
}

.line {
	width: 80px;
	height: 2px;
	background: #000;
	top: 12px;
	position: relative;
	margin-right: 10px;
}

.content {
	margin: 20px 0px;
	display: flex;
}

.header-text .pr-btn {
	color: #fff;
	background: #000;
	padding: 20px 20px;
	max-width: 60%;
	margin-top: 20px;
}

.header-text a {
	color: #fff;
	text-align: center;
	display:block;
	font-size: 12px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}

.dot {
	width: 10px;
	background: #E51837;
	height: 10px;
	border-radius: 100%;
	margin-right:4px;
}

.dot:nth-child(2) {
	background: transparent;
	border: 1px solid #E51837;
}

/**********************Banner style************************************/
.banner {
	padding: 30;
}

.location-box {
	background: #B50A37;
	text-align: center;
}

.location-box:not(:last-child){
	background: #E51837;
}

.features-text {
	margin-bottom:20px ;
}
.take {
	animation: asd;
}
.features-text a{
	font-weight: bold;
	font-size: 13px;
}

/**********************Burger Banner style************************************/

.burger-header a{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	font-size: 12px;
}

.yum-burger .container {
	background: #E51837;
	padding-bottom: 20px;
	box-shadow: 0px 0px 35px #CF1632;
}


/**********************box number style************************************/

.number-features {
	display: flex;
	width: 80%;
	margin: 0px auto;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


.number-features > div {
	width: 400px ;
}

.narrow {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-title {
	margin-left: 80px;
	margin-bottom: 100px;

}

.number-features h4 {
	margin: 0px;
}

.number-features a {
	font-weight: bold;
}

.box {
    height: 400px;
    margin: 0px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ring {
	border: solid 3px #EB5168;
	border-radius: 100%;
	height: 300px;
	width: 300px;
}

 .number-features-row .box3 .ring  {
	border: solid 2px rgba(#000, .2) !important;
}

.box1 {
	background-image: url("Images/Number-building.png");
	background-color: #000000d1;
	background-blend-mode: overlay;
}

.box3 {
	background-image: url("Images/box2-bg.png");
	background-color: #E51837;
	background-blend-mode: overlay;
}


.box4 {
	background-image: url("Images/Number-building.png");
	background-color: #000000d1;
	background-blend-mode: overlay;
}

.number-section {
	background: url("Images/human-burger.png");
	background-repeat: no-repeat;
	background-position-y: bottom;
}


/**********************tacco number style************************************/
.tacco-section {
	max-width: 88%;
	background: #E21936;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.tacco-section > div {
	flex-basis: 50%;
}

.tacco-section h2 {
	font-size: 70px;
	margin-bottom: 30px;
	font-weight: 600;
}

.tacco-title {
	padding: 100px 100px 100px 0px;
}

.tacco-images{
	display: flex;
	align-items: flex-end;
}

.tacco-section img {
	height: 70%;
	width: 80%;
}

.tacco-title span{
	color: #E21936;
	

}


/**********************tacco burger number style************************************/
.tacco-bruger {
	background-image: url(Images/tacco2-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
    background-size: 903px;
	padding: 100px 0px;

}
.discription {
	width: 50%;
	margin-bottom: 100px;
}

.button-next {
	width: 30%;
	height: 100px;
	position: relative;
	display: flex;
}

.button-next > div {
	width: calc(100%/2);
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: #B50A37;

}

.button-next > div:first-child {
	background: #E51837;
}

.button-next img {
	width:20%;
	height: auto;
	bottom:-10px;
	position: absolute;
	left: 42%;
	right: 50%;

}

.button-next a {
	font-size: 40px;
	color: #fff;
}

/**********************strategic burger number style************************************/
.strategic-section {
    height: 100vh;
    background: #B50A37;
    padding-top: 200px;
    
}

.header-text1 {
	margin-bottom: 80px;
}

.two-row {
	display: flex;
}

.two-column {
	position: relative;
	width: 50%;
}

.two-column:nth-child(2)  {
	display: flex;
	position: relative;
}

.arrow {
	display: flex;
	align-items: flex-end;
	width: 8%;
}

.arrow a {
	font-size: xxx-large;
	position: relative;
	bottom: -20px;
	color: #fff;
}

.text {
	width: 92%;
	color: #fff;
}


.strategic-images {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	width: 100%;

}

.strategic-images img {
	max-width: 300px;
	margin: 4px;

}

.text a {
    position: relative;
}

.text a:before {
    content: "→";
    font-size: 37px;
    position: absolute;
    top: -20px;
    left: -40px;
}




.car {
	height: 80vh;
}

.car img {
	height: 100%;
}

/**********************map number style************************************/

.map-gradient {
	background-image: linear-gradient(to right, transparent 45%, #E51837 40%);
	padding: 40px 0px; 
	margin-bottom: 100px;
}

.map-gradient h2{
	font-size: 3.5em;
	margin-bottom: 40px;
}

.map-gradient h4 {
	font-size: 3em;
	margin: 0px;
	color: #fff;
}

.map-gradient .map-row {
	margin-bottom: 30px;
}

.map-gradient .map-container {
	width: 90%;
	margin: auto;
}

.map-gradient .map-container .map-box {
	background: #E51837;
	margin-bottom: 20px;
}

.map-gradient .map-container .map-box:nth-child(2){
	background:#B50A37 ;
}

.map-gradient .map-container .map-box .map-inner-box {
	width: 80%;
	margin: auto;
	padding: 30px 0px;
}

.map-image {
	width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;

}

.map-button {
	display: flex;
	position: relative;
	width: 80%;
	margin-top: 40px;
}

.map-button .image-button {
	width: 70px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	right: 50%;
	

}

.map-button .next {
	background: #B50A37;
	width: 50%;
	font-size: 30px;
	text-align: center;
	color: #fff;
}

.map-button .prev {
	background: #E51837;
	width: 50%;
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.map-menu h4{
	color: #000;
	margin-top: 30px;
}

/**********Business growth**************/
.business {
	padding: 0px 0px 100px 190px;

}

.business-growth {
	display: flex;
	align-items: center;


}

.business .business-growth h2 {
	max-width: 65%;
	font-size: 5.5em;
	background: #fff;
	vertical-align: center:
}

.business-row {
    display: flex;
    padding-right: 50px;

}

.business-row > div {
    width:450px;
   
}

.business-row > div:not(:last-child){
	padding-right: 100px; 
}


/*************Footer**********************/

footer {
	background: #000;
	padding: 200px 0px;
}

footer .footer-row {
	display: flex;
	width: 80%;
	margin: auto;


}


footer .footer-row .footer-col-2{
	width: 50%;
	display: flex;
	position: relative;
}


footer .footer-row .footer-col-3{
	width: 50%;
	padding-left: 100px;
	
}

.footer-col-2 img{
	width:100px;
	height: 100px;
	position: absolute;
	left: -135px;
	
}

.footer-col-2 h2 {
	font-size: 70px;
}

form input {
	width: calc(100% / 2 - 33px);
    border: none;
    margin-bottom: 5px;
    padding: 15px;

}

input[type="Submit"] {
    width: 100%;
    margin-top: 20px;
    background: #B40938;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

input::placeholder {
    color: #000;
    font-family: 'Poppins';
}

.copyright .container{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.range {
	width: 70%;
	height: 1px;
	background: #fff;
}

.copyright .container p {
	font-size: 12px;
	padding: 0;
	margin-bottom: 0;
}
/*************************Footer above*************************************/

.above-footer {
	display: flex;
	background: #E21936;
}
.above-footer > div {
	flex-basis: 100%;
}

.seeking-out {
	padding: 100px;
}


/*************************accordion *************************************/

.accordion-container {
    width: 60%;
    margin: 0px auto;
}

.card-flex {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.accordion-card {
    padding: 30px 40px;
    box-shadow: 1px 1px 6px #e2193652;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 10px;
    background-color: #fff;
}

.accordion-card:hover {
    border: 1px solid #ED7182;
}

section.accordion-section {
    margin-top: 100px;
    margin-bottom: 200px;
    background-image: url(Images/Accordion.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 460px;


}



.tacco-title > div {
	background-color: #fff; height: 55px; color: #E21936; width: 500px;padding-top: 30px;
}


.accordion-search-width {
    width: 80%;
    background-color: #fff;
}

.accordion-search-bar input[type="text"] {
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
}

.accordion-button button {
    padding: 0px 30px;
    border: none;
    background: #E21936;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.accordion-body {
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #e2193652;
    margin-bottom: 20px;
}

.accordion {
    margin-top: 30px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-size: 18px;
}

i.fa-solid.fa-minus {
    color: #E21936;
}


/**************************************popcorn************/


.popcorn-row {
    display: grid;
    grid-template-columns: 0.1fr 1fr .12fr;
}

.pop-corn2 {
    background-image: url("Images/popcorn.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000d4;
    background-blend-mode: multiply;
    border-left: 30px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pop-corn1 {
    background: linear-gradient(to top, #e21936 30%, #fff 30%);
}

.popcorn-images {
   /* width: 500px;*/
}


.popcorn-bar {
    width: 500px;
    background: #fff;
    color: #E21936;
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: 0px 2px 26px -11px #e21936;
    position: relative;
    bottom: -14px;
}

.popcorn-bar input[type="text"] {width: 83%;border: none;padding: 10px;}


.popcorn-bar button {
    border: none;
    border-radius: 100%;
    background: #E21936;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    padding: 6px 6px;
}
/*****************************************Final Section******************************************************/
.final-row {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.final-row .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.final-row h2 {
    font-size: 75px;
}

.final-row > div {
    flex-basis: 100%;
}


.final-row .col1 {
    box-shadow: -500px 0px #b50a37;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}